<div class="row">
    <div class="col-md-2"><a routerLink="/products" class="btn btn-success"> Back to List</a></div> 
    <div class="col-md-8">
        <h3>Product details</h3>
        <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Product Name</th>
                <td>{{ product.name }}</td>
              </tr>
              <tr>
                <th scope="row">Product Title</th>
                <td>{{ product.title }}</td>
              </tr>
              <tr>
                <th scope="row">Category</th>
                <td>Garden & Outdoor</td>
              </tr>
              <tr>
                <th scope="row">Description</th>
                <td>{{ product.description }}</td>
              </tr>
              <tr>
                <th scope="row">Price</th>
                <td>{{ product.price }}</td>
              </tr>
              <tr>
                <th scope="row">Quantity</th>
                <td>{{ product.quantity }}</td>
              </tr>
            </tbody>
          </table>
    </div> 
    <div class="col-md-2"></div>
  </div>